.bg-success.py-3.bg-opacity-75.border.border-success.border-start-0.rounded-end
  .container
    .row
      .col.text-start
        %span.btn.btn-outline-dark.disabled.text-black
          = current_user.email
      .col.text-end
        %span
          = link_to "Log out", destroy_user_session_path(current_user), class: 'text-decoration-none btn btn-outline-dark'

.container.mt-5
  .row
    .col-6.text-center
      %h2
        Balance
      %h4.mt-4
        12345 USD
      .btn.btn-outline-dark
        send money
    .col-6.text-center
      %h2
        History
      %table.table.table-hover.table-bordered.mt-4
        %thread
          %tr
            %th{scope: "col"}
              transaction ID
            %th{scope: "col"}
              amount
            %th{scope: "col"}
              datetime
        %tbody.table-group-divider
          %tr.table-success
            %th{scope: "row"}
              12345
            %th
              +123 USD
            %th
              24.07.22 22:23:23
          %tr.table-danger
            %th{scope: "row"}
              87642
            %th
              332 USD
            %th
              21.01.22 12:11:00
